<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vector.springbootshiro.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.vector.springbootshiro.entity.User">
        <id column="id" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <collection property="roleList" javaType="list" ofType="Role">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_list">
        id,
        username,password,salt</sql>
    <insert id="save" parameterType="com.vector.springbootshiro.entity.User">
        insert into mybatis.t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="salt != null">
                salt,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="salt != null">
                #{salt},
            </if>
        </trim>
    </insert>
    <select id="findAllByuserName" parameterType="java.lang.String" resultType="com.vector.springbootshiro.entity.User">
        select
        <include refid="Base_Column_list"/>
        from mybatis.t_user where username = #{username}
    </select>


    <select id="findRoleListByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select u.id, u.username, r.name
        from mybatis.t_user u
                 left join mybatis.t_user_role ur on u.id = ur.id
                 left join mybatis.t_role r on r.id = ur.id
        where u.username = #{username}
    </select>

    <select id="findPermsByRoleId" parameterType="java.lang.String"
            resultType="com.vector.springbootshiro.entity.Perms">
        select r.name, tp.id, tp.name, tp.url
        from mybatis.t_role r
                 left join mybatis.t_role_perms rp on rp.roleid = r.id
                 left join mybatis.t_perms tp on rp.permsid = tp.id
        where r.id = #{id};
    </select>
</mapper>
